{% extends "as2_app/site_base.html" %}

{% block page_title %}
  Home
{% endblock %}

{% block page_heading %}
  <h1>Welcome to our Thesis Projects</h1>
{% endblock %}

{% block main_body %}
<style>
        .container {
            display: flex;
            background-color: #058ea9;
        }
        
        .home-img {
            flex: 75%;
            object-fit: cover;
        }
        
        .home-text {
            flex: 25%;
            font-size: large;
            text-align: left;
            line-height: 1.8;
            margin-right: 100px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: aliceblue;
            padding: 20px;
            height: 100%;
        }
        
        .middle-div {
            background-color: #058ea9;
            flex: auto;
            width: 100%;
            height: 700px;
            background-image: url(https://connect-assets.prosple.com/cdn/ff/tfOuRR4-FX96S513LI--XRgbJ6nXz83IcLJJhL0HL30/1657696889/public/2022-07/banner-cdu-1786x642-2022.png);
            background-repeat: no-repeat;
            background-size: contain;
        }
        
        .middle-text {
            width: 100%;
            height: 100%;
            text-align: center;
            flex: auto;
        }
        
        .background {
            background-image: url(https://connect-assets.prosple.com/cdn/ff/tfOuRR4-FX96S513LI--XRgbJ6nXz83IcLJJhL0HL30/1657696889/public/2022-07/banner-cdu-1786x642-2022.png);
            /* Replace 'your-image.jpg' with the URL or path to your image */
            background-size: cover;
            background-position: center;
            width: 100%;
            /* Full width of the viewport */
            height: 700px;
            /* Full height of the viewport */
            position: relative;
        }
        
        .overlay {
            position: absolute;
            height: 660px;
            background-color: rgba(3, 1, 63, 0.471);
            /* Semi-transparent black background */
            padding: 20px;
            text-align: center;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: white;
        }
        
        .overlay h1 {
            margin-top: 200px;
            width: 100%;
            
            line-height: 1.8;
            font-size: xx-large;
            background-color: transparent;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: white;
        }
        
        .overlay p {
            background-color: transparent;
            color: white;
            margin-left: 1200px;
        }
        
        .overlay a {
            width: 15%;
            background-color: #160355;
            display: inline-block;
            margin-top: 10px;
            margin-left: 65%;
            height: 70px;
            border: none;
            color: #FFF;
            cursor: pointer;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bold;
            padding: 10px 32px;
            font-size: 25px;
            font-weight: lighter;
            transition: transform 0.3s ease;
            text-decoration: none;
            text-align: center;
        }
        
        .overlay a:hover {
            transform: scale(1.1);
        }

</style>




<div class="background">
  <div class="overlay">
      <h1>Welcome to CDU Thesis Facility Showcase</h1>
      <p>The thesis project at Charles Darwin University (CDU) aims to provide students with an opportunity to engage in in-depth research and scholarly inquiry within their respective fields of study.</p>
      <p>Join us in celebrating the power of knowledge, curiosity, and discovery as we showcase the exceptional thesis projects happening at Charles Darwin University. Welcome to the forefront of academic excellence and innovation!</p>
      <a href="{% url 'project' %}">Find Our Project</a>
  </div>
</div>


{% endblock %}
