{% extends "as2_app/site_base.html" %}

{% block page_title %}
  Home
{% endblock %}

{% block page_heading %}
  <h1>Welcome to our Thesis Projects</h1>
{% endblock %}

{% block main_body %}


<div class="background">
  <div class="overlay">
      <h1>Welcome to CDU Thesis Facility Showcase</h1>
      <p>The thesis project at Charles Darwin University (CDU) aims to provide students with an opportunity to engage in in-depth research and scholarly inquiry within their respective fields of study.</p>
      <p>Join us in celebrating the power of knowledge, curiosity, and discovery as we showcase the exceptional thesis projects happening at Charles Darwin University. Welcome to the forefront of academic excellence and innovation!</p>
      
      <a href="{% url 'project' %}">Find Our Projects</a>
      <a href="{% url 'admin:index' %}">Go To Admin Site</a>
      <a href="{% url 'display_forms' %}">Manage Projects</a>
  </div>
</div>


{% endblock %}
