{% extends "as2_app/site_base.html" %}

{% block page_title %}
  Thesis Projects
{% endblock %}

{% block page_heading %}
  Thesis Projects
{% endblock %}

{% block main_body %}
{% for thess in articles %}
  <div class="container">
    <ul>
      <li>
        <strong>{{ thess.title }}</strong>
        <em>{{ thess.relv_desc }}</em>
        <p>Supervisor: {{ thess.supervisor }}</p>
        
        <a class="clicker" href="{% url 'project_details' thess.topic_num %}">Click To Learn More</a>
        <a href="{% url 'update_thesis' thess.topic_num %}">Update Thesis</a>
        <a href="{% url 'delete_thesis' thess.topic_num %}">Delete Thesis</a>
      </li>
    </ul>
  </div>
{% endfor %}
{% endblock %}
