{% extends "as2_app/site_base.html" %}

{% block page_title %}
Project Details
{% endblock %}

{% block page_heading %}
Project Details
{% endblock %}

{% block main_body %}

{% if project %}
<ul class="project_list">
  <li class="project_item">
    <div class="project_title">{{ project.title }}</div>
    <div class="project_topic_num"><h3>Topic Number: {{ project.topic_num }}</h3></div>
    <div class="project_description">{{ project.description }}</div>
    <div class="project_supervisor">{{ project.superviser }}</div>
  </li>
</ul>
{% else %}
<h1>No Project Found</h1>
{% endif %}
<div class = 'go-back-link'>
<a href="{% url 'project' %}">Go Back To The List</a>
</div>

{% endblock %}
